@if $include-toolbar-menu-sub-ui {
  @include extjs-toolbar-ui(
      $ui: 'menu-sub',

      $background-color: transparent
  );
}

.#{$prefix}toolbar-menu-sub {
    background-image: url('img/background-menu-sub.png');
}