$panel-border-radius: 4px !default;
$panel-border-color: #FFFFFF !default;

$grid-column-header-font-weight: normal !default;
$grid-column-header-line-height: 40px !default;
$grid-column-header-border-width: 0px !default;
$grid-column-header-color: #2777BE !default;

$panel-header-color: #2777BE !default;
$panel-header-font-size: 20px !default;
$panel-header-font-weight: normal !default;
$panel-header-line-height: 60px !default;
$panel-header-background-color: #FFFFFF !default;

$grid-row-cell-alt-background-color: #FFFFFF !default;
$grid-row-cell-focus-background-color: #2777BE !default;
$grid-row-cell-focus-color: #FFFFFF !default;

$grid-row-cell-over-background-color: #2777BE !default;
$grid-row-cell-over-color: #FFFFFF !default;