$include-rtl: false !default;


$color: #000 !default;
$font-family: helvetica, arial, verdana, sans-serif !default;
$font-size: 13px !default;
$base-color: #FFFFFF !default;

$sim-header-color: #2777BE !default;
