$panel-sim-header-font-size: 13px !default;
$panel-sim-header-font-weight: bold !default;
$panel-sim-header-text-transform: uppercase !default;
$panel-sim-header-background-color: white !default;
$panel-sim-header-border-width: 1px !default;
$panel-sim-header-color: #2777BE !default;

$panel-sim-body-border-color: #d8d9d9 !default;

$panel-sim-border-width: 1px !default;
$panel-sim-background-color: white;

$panel-sim-tool-background-image: 'tools/tool-sprites-light' !default;

$include-panel-center-grid-ui: true !default;