$grid-row-cell-alt-background-color: #FFFFFF !default;
$grid-row-cell-over-background-color: #2777BE !default;
$grid-row-cell-over-color: #FFFFFF !default;

$grid-column-header-color: #2777BE !default;
$grid-header-background-color: #FFFFFF !default;
$grid-header-border-width: 2px !default;

$include-panel-center-grid-ui: true !default;
$include-panel-filter-panel-ui: true !default;