@import "menu";
@import "splash";
@import "grid";

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.x-viewport, .x-viewport body {
    background-image: url('img/background.jpg');
    background-color: transparent;
}