div.menu {
    background-image: url('img/background-menu.png');
}

ul.menu {
    list-style-type:none;
    margin:0;
    padding:0;
}

ul.menu li {
  display:inline;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}