.grid-button-edit {
    width: 25px;
    height: 25px;
    background-image: url('img/glyphicons/glyphicons_030_pencil.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.grid-button-preview {
    width: 25px;
    height: 25px;
    background-image: url('img/glyphicons/glyphicons_027_search.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.grid-button-delete {
    width: 25px;
    height: 25px;
    background-image: url('img/glyphicons/glyphicons_016_bin.png');
    background-size: contain;
    background-repeat: no-repeat;
}