@import "compass/css3/box-shadow";

@if $include-panel-center-grid-ui {
  @include extjs-panel-ui(
    $ui-label: 'center-grid',

    $ui-header-font-family: $font-family,
    $ui-header-font-size: 30px,
    $ui-header-font-weight: bold,
    $ui-header-color: #2777BE,
    $ui-header-background-color: #FFFFFF,
    $ui-header-line-height: 50px,

    $ui-border-radius: $panel-frame-border-radius,

    $ui-body-background-color: #FFFFFF,
    $ui-tool-background-image: 'tools/tool-sprites'
  );
}

@if $include-panel-filter-panel-ui {
  @include extjs-panel-ui(
    $ui-label: 'filter-panel',

    $ui-header-font-size: 0px,
    $ui-header-color: #FFFFFF,
    $ui-header-background-color: #000000,

    $ui-border-color: #000000,
    $ui-border-radius: $panel-frame-border-radius,

    $ui-body-background-color: #000000,
    $ui-tool-background-image: 'tools/tool-sprites'
  );
}

@if $include-panel-filter-panel-ui {
  @include extjs-panel-ui(
    $ui-label: 'filter-sub-panel',

    $ui-header-font-size: 12px,
    $ui-header-color: #FFFFFF,
    $ui-header-background-color: #2777BE,

    $ui-border-color: #000000,
    $ui-border-radius: $panel-frame-border-radius,

    $ui-body-background-color: #000000,
    $ui-tool-background-image: 'tools/tool-sprites'
  );
}

.#{$prefix}panel-filter-panel,
.#{$prefix}panel-center-grid {
    margin: 30px;
    -webkit-box-shadow: 0px 0px 10px #000000;
    -moz-box-shadow: 0px 0px 10px #000000;
    box-shadow: 0px 0px 10px #000000;
}

.#{$prefix}panel-center-grid .#{$prefix}column-header {
    border-right: 0px;
}

.#{$prefix}panel-center-grid .#{$prefix}grid-row-over {
    cursor:pointer;
}

.#{$prefix}panel-center-grid .#{$prefix}grid-row-over .#{$prefix}grid-td {
    @include background-image(linear-gradient(#46A4CE, #2777BE, #2777BE));
}
