@import "compass/css3/box-shadow";

@if $include-panel-center-grid-ui {
  @include extjs-panel-ui(
    $ui-label: 'center-grid',

    $ui-header-font-family: $font-family,
    $ui-header-font-size: $panel-sim-header-font-size,
    $ui-header-font-weight: $panel-sim-header-font-weight,
    $ui-header-color: $panel-sim-header-color,
    $ui-header-background-color: $base-color,

    $ui-border-radius: $panel-frame-border-radius,

    $ui-body-background-color: $base-color,
    $ui-tool-background-image: $panel-sim-tool-background-image
  );
}

.#{$prefix}panel-center-grid {
     @include box-shadow(rgba(black, 0.4) 0 0 25px, rgba(blue, 0.2) 0 0 3px 1px inset);
}