@import "compass/css3/box-shadow";

@if $include-panel-center-grid-ui {
  @include extjs-panel-ui(
    $ui-label: 'center-grid',

    $ui-header-font-family: $font-family,
    $ui-header-font-size: $panel-sim-header-font-size,
    $ui-header-font-weight: $panel-sim-header-font-weight,
    $ui-header-color: $sim-header-color,
    $ui-header-background-color: $base-color,

    $ui-border-radius: $panel-frame-border-radius,

    $ui-body-background-color: $base-color,
    $ui-tool-background-image: $panel-sim-tool-background-image
  );
}

@if $include-panel-filter-panel-ui {
  @include extjs-panel-ui(
    $ui-label: 'filter-panel',

    $ui-header-font-family: $font-family,
    $ui-header-font-size: $panel-sim-header-font-size,
    $ui-header-font-weight: $panel-sim-header-font-weight,
    $ui-header-color: #FFFFFF,
    $ui-header-background-color: #000000,

    $ui-border-color: #000000,
    $ui-border-radius: $panel-frame-border-radius,

    $ui-body-background-color: #000000,
    $ui-tool-background-image: $panel-sim-tool-background-image
  );
}

.#{$prefix}panel-filter-panel,
.#{$prefix}panel-center-grid {
    margin: 30px;
    -webkit-box-shadow: 0px 0px 15px #333333;
    -moz-box-shadow: 0px 0px 15px #333333;
    box-shadow: 0px 0px 15px #333333;
}